<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./style/Article.css")
        title Document
    body
        .article
            .article_main_block-1
                .article_block-1
                    .article_block_radius
                        .article_block-2
                            .article_block-3
                                .article_block-4 Тур <br/> в Созополь, Болгария
                            .article_block-3
                                .article_block-5 КОД ТУРА
                                .article_block-6 3094119
            .article_main_block-2
                .article_block-7
                    .article_block-8.block-8_width
                        .article_block-9 Aquamarine hotel
                        .article_block-10 &#9733; &#9733; &#9733; <span class="star">&#9734</span> <span class="star">&#9734</span>
                        .article_block-11 $256
                    .article_block-8.block-9_width
                        .article_block-12 Оценка отеля <div class="bold">45 отзывов</div>
                        .article_block-13.eightFour(style="font-size: 30px") 8.4
                        .article_block-13 НОМЕР <span class="bold">8.9</span>
                        .article_block-13 ПИТАНИЕ <span class="bold">8.1</span>
                        .article_block-13 СЕРВИС <span class="bold">7.9</span>
                        .article_block-12 ИНФРАСТРУКТУРА <span class="bold">8.9</span>
                        .article_block-empty
                .article_block-14
                    .article_block-15 320
                    .article_block-16 солнечных дней в году
            .article_main_block-3
                .article_main_block-17
                    .article_main_block-18
                    .article_main_block-19
                        .article_main_block-20
                            .article_main_block-21 
                                a(href="#" class="article_link") Шелковый путь
                            .article_main_block-22 $158
                        .article_main_block-20
                            .article_main_block-23 Экстремальный маршрут
                .article_main_block-17
                    .article_main_block-18-1
                    .article_main_block-19
                        .article_main_block-20
                            .article_main_block-21
                                a(href="#" class="article_link") Роупджампинг
                            .article_main_block-22 $57
                        .article_main_block-20
                            .article_main_block-23 Не дай Бог не любишь
                            .article_main_block-24 <s style="color: red"><span style="color: gray">$90</span></s>